<table border="1">
    <tr bgcolor="#808080">
        <td>Status</td>
        <td>Task</td>
        <td>Actions</td>
    </tr>
    {% for i in all_data %}
        <tr>
        <td>
            {{ i.done }}
        </td>
        <td>
            {{ i.task }}
        </td>
        <td>
            <a href="{% url 'main' %}?action=upp">Move up</a>
            <a href="{% url 'main' %}?action=down">Move down</a>
            <a href="{% url 'update' %}">Update</a>
            <a href="{% url 'main' %}?action=dell">Delete</a>
        </td>
        </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'add' %}">New task!</a>