<table border="1">
    <tr bgcolor="#808080">
        <td>Status</td>
        <td>Task</td>
        <td>Actions</td>
    </tr>
    {% for i in all_data %}
        <tr>
        <td>
            {% if i.done == True %}
            &#10003;
            {% else %}
            <a href="{% url 'main' %}?action=done">&#10005;</a>
            {% endif %}
        </td>
        <td>
            {{ i.task }}
        </td>
        <td>
            <a href="{% url 'main' %}?action=upp&id={{ i.id }}">Move up</a>
            <a href="{% url 'main' %}?action=down&id={{ i.id }}">Move down</a>
            <a href="{% url 'update' %}">Update</a>
            <a href="{% url 'main' %}?action=dell&id={{ i.id }}">Delete</a>
        </td>
        </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'add' %}">New task!</a>